body{
    margin-bottom: 100px;
}

#contact_modal, #lightbox_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photographer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photographer h2{
    font-size: 64px;
}

.photographer h3{
    font-size: 24px;
}

.dropdown-sort{
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.dropdown-sort select{
    background-color: #901C1C;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
}

.medias_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
}

.medias_section img, .medias_section video{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.media section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}

.media{
    margin: 5px;
}

.media section h2{
    font-weight: 400;
    font-size: 20px;
}

.btn-like{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.btn-like .fa-heart{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px #901C1C;
}

.btn-like[liked] .fa-heart{
    -webkit-text-stroke: 0;
    color: #901C1C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.encart_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376px;
    height: 89px;
    background: #DB8876;
    border-radius: 5px;
    position: fixed;
    bottom: -10px;
    right: 36px;
    font-size: 24px;
    padding: 0 34px;
    font-weight: bold;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

.formData{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.formData input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.formData textarea{
    width: 100%;
    height: 200px;
}

.formData[data-error-visible="true"]::after{
    content: attr(data-error);
    background-color: red;
    padding: 10px;
    color: white;
}

.gray-bg{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.zoomed-content img,.zoomed-content video{
    width: 700px;
    height: 700px;
    object-fit: cover;
}

#lightbox_modal .modal{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#lightbox_modal .modal header{
    justify-content: flex-end;
}

#lightbox_modal .modal .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn{
    cursor: pointer;
    font-size: 66px;
}